<admin-products></admin-products>

<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="m-3">
         <form #form="ngForm" (ngSubmit)="submitForm(form)"> <!--//bir problem varsa invalid true olur ve formSubmit true dur -->
          <div class="bg-danger text-white p-3 my-2" *ngIf="formSubmitted && form.invalid">
           Bir hata oluştu bilgilerinizi kontrol ediniz..
           <ul>
             <li *ngFor="let error of getFormValidationErrors(form)">
               {{error}}
             </li>
           </ul>
          </div>
        <div class="bg-info text-white m-2 p-2">
        {{JsonProduct}}
        </div>

        <div class="form-group">
          <label>Name</label>
        <input required minlength="3" maxlength="10" pattern="^[A-Za-z ]+$"[(ngModel)]="newProduct.name" type="text" name="name" #name="ngModel" class="form-control" (change)="log(name)">
         <div class="alert alert-danger" *ngIf="(formSubmitted || name.dirty) && name.invalid">
           <ul>
          <li *ngFor="let error of getValidationErrors(name)">
           {{error}}
          </li>
        </ul>

          <!-- <p *ngIf="name.errors.required">Name is required.</p>
          <p *ngIf="name.errors.pattern">Only letters and spaces</p>
          <p *ngIf="name.errors.minlength">min. 3 charachers</p>
 -->

         </div>
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea required  [(ngModel)]="newProduct.description"  type="text" name="description" #description="ngModel" class="form-control"></textarea>
          <div class="alert alert-danger" *ngIf="(formSubmitted || description.dirty) && description.invalid">
            <ul>
           <li *ngFor="let error of getValidationErrors(description)">
            {{error}}
           </li>
         </ul>
        </div>

        </div>

        <div class="form-group">
          <label>Price</label>
        <input required [(ngModel)]="newProduct.price" type="text" name="price" #price="ngModel" class="form-control">
        <div class="alert alert-danger" *ngIf="(formSubmitted || price.dirty) && price.invalid">
          <ul>
         <li *ngFor="let error of getValidationErrors(price)">
          {{error}}
         </li>
       </ul>
      </div>

        </div>

        <div class="form-group">
          <label>Image Url</label>
        <input required [(ngModel)]="newProduct.imageUrl" type="text" name="imageURl" #imageUrl="ngModel" class="form-control">
        <div class="alert alert-danger" *ngIf="(formSubmitted || imageUrl.dirty) && imageUrl.invalid">
          <ul>
         <li *ngFor="let error of getValidationErrors(imageUrl)">
          {{error}}
         </li>
       </ul>
      </div>

        </div>

        <button
         type="submit"
          [disabled]="formSubmitted && form.invalid"
          [class.btn-secondary]="formSubmitted && form.invalid" class="btn btn-primary"> <!--form submit edildiğinde -->

            Submit
        </button>
      </form>
       </div>
    </div>
  </div>
</div>
